.edit-profile-points-wrapper {
  .nav {
    border-radius: 0;
    background-color: #3b3b3b;
    border-color: #3b3b3b;
    li {
      a {
        display: initial;
      }
      a, a:hover, a:focus {
        color: #fff;
        background-color: transparent;
      }
    }
  }
}