// Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

//Bootstrap
@import "old/bootstrap";

// Font Awesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// AdminLTE
@import '../css/admin-lte';
@import '../css/skin-blue';

// Bootstrap select
@import '~bootstrap-select/sass/bootstrap-select';

@import 'admin/dashboard';

/* Sidebar menu */

.sidebar-menu__item i {
  margin-right: 5px;
}

.filed-error input {
  border-color: #dd4b39;
}

.error-message, .filed-error label {
  color: #dd4b39;
}

.bootstrap-dialog-button-icon {
  margin-right: 5px;
}

.item-unviewed {
  background-color: #f9f9f9;
  font-weight: bold;
}

.btn-default {
  color: #000 !important;
}

.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.action {
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
  font-weight: normal;
  top: -5px;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #777;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.can-not-disable .checkbox-custom:checked + .checkbox-custom-label:before {
  box-shadow: inset 0px 0px 0px 4px #CCC !important;
}

.actions, .action {
  display: none;
}

.hidden-element {
  display: none;
}

.active-element {
  display: inline-block;
}