
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway:700,400,400italic,500');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,300italic');

// Variables
@import 'variables';

// Font Awesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import './old/bootstrap';
@import './modules/bs-dialog/bootstrap-dialog';
@import './old/main';
@import './old/my-custom-styles';
@import './home';
@import 'account/deposit';
@import 'account/history';
@import 'account/profile';
@import 'footer';
@import 'sidebar';
@import 'navbar';

body {
  line-height: 1.4;
}

.pull-right-container {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}

.panel small {
  color: #8c8c8c;
}

.page-content legend {
  color: #fff;
}

.panel-body small {
  color: #fff;
}

.text-white {
  color: #fff;
  h4, h3 {
    color: #fff;
  }
  input {
    color: #000;
  }
}

.auth-box {
  margin-top: 65px;
}
