html,
body {
   margin:0 !important;
   padding:0 !important;
   position: relative;
   font-family: 'Raleway' !important; 
}
.auth-box {
    margin-top: 0 !important
}
.auth_register_body {
    min-height: 100% !important;
    position: fixed !important;
    width: 100%;  
}
#wrapper {
    min-height: 100% !important;
    position: relative !important;
    padding-bottom: 10% !important;    
}
.main_body_top_header {
    min-height: 100% !important;
    position: relative !important;
    padding-bottom: 10% !important;    
}
.auth-box .form-auth-small {
    margin-bottom: 30% !important;
}
.support {
    color: #fff
}
.support_text {
    margin-top: 20px;
    color: #fff
}
.table-striped > tbody > tr {
    background-color: #3b3b3b !important;
}
.table-bordered {
    background-color: #3b3b3b;
    color: #fff !important
}
#show-row-information {
    color: #FFF
}
.btn_button {
    align-items: center;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    color: #e9e9e9;
    background: #5c656b;    
    justify-content: center;
    -webkit-box-align: center;
    flex: 1 1 auto !important;
}
.card {
    color: #fff !important;
}
.form-check-label {
    color: #fff !important
}
.buy_text {
    color: #fff !important;
}
//.text {
//    color: #fff !important;
//}
h2.title {
    color: #fff !important; 
}
.panel-body > h2 {
    margin-top: 5px !important;
}
/* table */
table {
    border-collapse: collapse !important;
     padding: 0 !important;
     margin: 0 !important; 
     line-height: 1.8;  
}
tr.list_current_item > td > span#listcrypto {
    margin-left: 0 !important;
}
tbody {
     border-collapse: collapse !important;
     padding: 0 !important;
     margin: 0 !important;
}
tr.list_current_item > td.minus > * {
    color: rgb(239,79,27) !important;
}
tr.list_current_item > td.plus > * {
    color: #44be24 !important;
}
tr.list_current_item:first-child > td:first-child {
    text-align: center;
    padding-left: 20px;
}
tr.list_current_item:first-child > td:nth-child(2) {
    font-weight: bold !important;
    font-size: 13px;
    padding-left: 20px;
}
tr.list_current_item:nth-child(2) > td:first-child {
   font-size: 10px;
   padding-left: 20px;  
}
tr.list_current_item:first-child > td:nth-child(3) {
    text-align: center;
} 
tr.list_current_item:first-child > td:nth-child(4) {
    font-size: 13px; 
    text-align: right; 
    padding-right: 40px; 
} 
tr.list_current_item:nth-child(2) > td:nth-child(2) {
    font-size: 10px;
    text-align: right;
    padding-right: 40px;
}
tr.list_current_item:first-child > td:nth-child(5) {
    font-size: 13px;   
    text-align: right;
    padding-right: 40px;
} 
tr.list_current_item:nth-child(2) > td:nth-child(3) {
    font-size: 10px;
    text-align: right;
    padding-right: 40px;
}
/* end of table */
.text > p {
    line-height: 1.5;
}
.main_body_top_header {
    background-color: #192126 !important; /* all pages background */
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    line-height: 4; 
    margin-top: 25%;
}
a.menu_left_item {
    font-size: 12px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    color: #000;
    padding-left: 15px; 
}
a.menu_left_item > i {
    line-height: 4;
}
.user_dropdown_list:hover {
    background: rgba(233, 233, 233, 0.4);
}
hr {
    margin-top: 3px;
    margin-bottom: 3px;
}
.main_body {
    padding-top: 3%;
    overflow-y: scroll;
}
.main_body_top_header {
  background-color: #e7e7e7;
}
.navbar_container {
    margin-left: 1%;
    margin-right: 1%;
}
.main_sidebar {
    padding: 0 !important;
    height: 100%;
    background: #3B3B3B;
}
.col-md-3 {
    width: 21%;
    padding: 0;
    margin: 0;
    border-right: 1px solid #3B3B3B;
}
.col-md-9 {
    width: 79%;
    padding: 0;
    margin: 0;
}
.header_logo {
    vertical-align: middle;
    height: 35px;
}
.header_logo_link {
    vertical-align: middle;
    line-height: 46px;
    padding: 0 28px;
}
#zzz > .pull-right {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    font-size: 13px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    padding-right: 20px;
}
.dropdown-menu-right {
    padding-left: 0;
}





.bottomheader {
  padding-top: 3%;
}
footer {
    background-color: rgb(7,15,21);
}
.cryptocurrency {
font-weight: bold;
line-height: 1.5;
word-break: normal;
display: inline;
font-family: "atlas", "opensans", sans-serif, "btcglyph";
font-size: 14px;
text-align: left;
text-transform: inherit;
color: #000;  
}
.header {
    position: relative;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.header .heading {
    font-size: 28px;
    font-weight: normal;
    font-family: Raleway, sans-serif;
    color: #fff !important
}
#app {

}
.fancy-checkbox input[type="checkbox"] {
  display: none;
}
.fancy-checkbox input[type="checkbox"] + span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  margin-right: 10px;
}
.fancy-checkbox input[type="checkbox"] + span:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  bottom: 1px;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  content: '';
  border: 1px solid #dedede;
}
.fancy-checkbox input[type="checkbox"]:checked + span:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 11px;
  color: #fff;
  text-align: center;
  line-height: 16px;
  background: #5cb85c;
  border: 1px solid #3d8b3d;
}
body{
  background-color: #192126 !important;
}

ul.menu_left {
  height: 46px;
  display: flex;
  align-items: center;
  float: left !important;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
ul > li > a.menu_left_item {
    position: relative;
    padding: 0px 28px;
    font-size: 12px;
    font-weight: bold !important;
    text-decoration: none !important;
    border-right: 1px solid rgb(20, 24, 28);
    color: rgb(255, 255, 255);
    display: flex;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
}
ul > li > a.menu_right_item {
flex: 0 1 0%;
margin-right: 10px;
padding: 0px 40px;
vertical-align: middle;
margin-top: 12px !important;
text-decoration: none !important;
display: flex;
flex: 1 1 auto;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
border-radius: 1px;
outline: currentcolor none medium;
font-weight: bold;
text-transform: uppercase;
white-space: nowrap;
cursor: pointer;
transition: transform 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
height: 25px;
font-family: "atlas", "opensans", sans-serif, "btcglyph";
font-size: 10px;
line-height: 25px;
border: 1px solid rgba(233, 233, 233, 0.4);
color: rgba(233, 233, 233, 0.4) !important;
background: rgb(21, 35, 44) none repeat scroll 0% 0%;
}
ul > li > a.menu_right_item:hover {
    color: #fff !important;
    border: 1px solid #fff !important;
}
ul > li.left_menu:hover {
    background: rgba(233, 233, 233, 0.1);
}
ul > li > a.active {
    position: relative;
    padding: 0px 28px;
    font-size: 12px;
    font-weight: bold !important;
    text-decoration: none !important;
    border-right: 1px solid rgb(20, 24, 28);
    color: rgb(255, 255, 255);
    display: flex;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    border-bottom: 2px solid rgb(49, 121, 205);
}

/* new */
.leftx p {
  margin-left: 10px;
}
.leftx {
    position:relative;
    margin:0; 
    cursor: pointer;
    max-width: 700px;
    color: #fff;
    background-color: #192126;
    margin-top: 10px;
}
.descr{
    display: none;
    color: #e3e3e3;
    padding:10px;
    background:#f3f3f3;
    height: 650px;
    padding-top: 0px;
    padding-bottom: 0px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
    background: #192126 ;
}
/* .leftx:hover .descr */
.leftx .descr{
  display:none;
  position:absolute;
  top: 100%;
  z-index:9999;
  width:400px;
  margin-top: 1px;
}
/* list new */
.list1b {
    margin: 12px 0 0;
    padding:0;
    list-style: none;
}
.list1b li {
    border: 0px solid #b3b3b3;
    background: rgb(47, 61, 69);
    position: relative;
    margin-bottom: 5px;
    padding: 0;
    color: #fff;
    font-weight: bold;
    /*
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    */
}
  
.list1b li:hover {
    z-index: 999999;
    border: 0px solid #b3b3b3;
    background: rgba(233, 233, 233, 0.4);
    opacity: 0.8
}


/*
.list1b li:before {
    border: 0px solid #b3b3b3;
    position: absolute;
    top: -14px;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: bold;
    color: #337AB7;
    background: #F7FAFD;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.list1b li:hover:before {
    border: 0px solid #6d6c6c;
    background: #e2e2e2;
    color: #FFF;
}

.list1b li:after {
    content: "";
    position: absolute;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: all;
    transition-property: all; 
    z-index: 1;
    background: #a5a5a5;
    opacity: 0.3;
    height: 100%;
    width: 100%;
}

.list1b li:hover:after {
    width: 100%;
}
*/
  ul.lowselect {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.lowselect li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 21px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
    border: 0px solid #fff !important;

   }
   ul.lowselect > li.green {
    color: #0c5909
   }
p.fRXehDs {
  font-weight: bold;
  text-decoration: underline;
}

#sfvJcD {
  margin-top: 2%;
}
#Cvd {
  padding-top: 1.5%;
}
ul#gNFUcxvD {
  list-style-type: none;
  margin-top: 3%;
  margin:0;
  padding: 0;
  text-align: center;
  color: #FFF
}
ul#gNFUcxvD > li > a.dgfgdverbvr {
    display: flex;
    margin-bottom: 10px;
    flex: 1 1 auto;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 1px;
    outline: currentcolor none medium;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    height: 50px;
    font-family: "atlas", "opensans", sans-serif, "btcglyph";
    font-size: 14px;
    line-height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    background: rgb(49, 121, 205) none repeat scroll 0% 0%;  
}

ul#gNFUcxvD > li > a.dgfgdverbvr:hover {
  border: 1px solid #FFF;
  color: #FFF
}
.VVV {
  flex: 0 0 auto;
padding: 20px 28px;
background: rgb(49, 121, 205) none repeat scroll 0% 0%;
}

.hWdFMX {
    font-weight: normal;  
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas", "opensans", sans-serif, "btcglyph";
    font-size: 14px;
    text-align: center;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
#listcrypto {
    margin-left: 2%;
    font-weight: bold !important;
    line-height: 1.5 !important;
    word-break: normal !important;
    font-size: 13px !important;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);  
}
#maincrypt > #listcrypto:first-child {
    font-weight: bold;
    line-height: 1.5;
    word-break: normal;
    font-size: 13px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);    
    font-family: "atlas-typewriter", monospace, "btcglyph";  
    margin-left: 2.5%;   
}
#maincrypt > .minus {
    font-weight: bold;
    line-height: 1.5;
    word-break: normal;
    font-size: 13px;
    text-align: left;
    text-transform: inherit;
    color: rgb(239, 79, 27);    
    font-family: "atlas-typewriter", monospace, "btcglyph";  
}
#maincrypt > .plus {
    font-weight: bold;
    line-height: 1.5;
    word-break: normal;
    font-size: 13px;
    text-align: left;
    text-transform: inherit;
    color: #44be24;    
    font-family: "atlas-typewriter", monospace, "btcglyph";  
}
#mylst {
  font-weight: bold;
}
/* Order Form */
.iCJbQH {
    overflow: hidden;
    color: rgb(255, 255, 255);
    flex: 1 1 auto;
}
.cbNbaj {
    display: flex;
    flex-direction: column;
}
.ppkAR {
    flex-shrink: 0;
    -moz-box-align: center;
    align-items: center;
    height: 46px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 28px;
    border-bottom: 1px solid rgb(20, 24, 28);
    background: rgb(47, 61, 69) none repeat scroll 0% 0%;
}
.fapzTF {
    display: flex;
    flex-direction: row;
}
.iCJbQH {
    color: rgb(255, 255, 255);
}
.kefjuS {
    flex: 1 1 0%;
    flex-direction: column;
    overflow: hidden;
}
.gPfxFb {
    margin: 20px 28px 0px;
}
.jjiJAo {
    display: flex;
    flex: 1 1 0%;
    height: 25px;
    border-radius: 1px;
    overflow: hidden;
}
.qx {
    background: #44be24 !important; /* green */
}
.qy {
    background: #ef4f1b !important;  /* orange */ 
}

.kvYUlk {
    display: flex;
    flex: 1 1 auto;
     -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    color: rgb(255, 255, 255); 
    background: #5c656b;  /* grey */
}
.jHbvLz {
    display: flex;
    flex: 1 1 auto;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    color: rgb(233, 233, 233); 
    background: #5c656b; /* grey */ 
}
.fapzTF {
    display: flex;
    flex-direction: row;
}
.keODMS {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
.exGoF {
    flex: 1 1 0%;
}
.cbNbaj {
    display: flex;
    flex-direction: column;
}
.kYlebK {
    position: relative;
    flex-shrink: 0;
    margin: 20px 28px 0px;
}
.fapzTF {
    display: flex;
    flex-direction: row;
}
.jpktAk:not(:last-child) {
    padding-right: 6px;
}
.jpktAk {
    flex: 1 0 auto;
    padding-bottom: 7px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid rgba(233, 233, 233, 0.4);
    font-size: 10px;
    color: rgb(255, 255, 255);
}
hVfXXr {
    flex: 1 0 auto;
    padding-bottom: 7px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid rgba(233, 233, 233, 0.4);
    font-size: 10px;
    color: rgba(233, 233, 233, 0.4);
}
.kMfcDZ {
    position: absolute;
    bottom: 0px;
    height: 2px;
    margin-top: -2px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out 0s, width 0.2s ease-in-out 0s;
}
.cBptqf {
    padding: 20px 28px;
}
.cbNbaj {
    display: flex;
    flex-direction: column;
}
.cBptqf > div {
    margin-bottom: 20px;
}
bjBPca {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.brJNHi {
    margin-bottom: 5px;
    font-size: 11px;
    color: rgb(233, 233, 233);
}
.jndoRX {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas", "opensans", sans-serif, "btcglyph";
    font-size: 13px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
.gHjlyg {
    position: relative;
    flex: 1 1 auto;
    height: 40px;
    border-radius: 1px;
    overflow: hidden;
    border: 1px solid rgb(20, 24, 28);
    background: rgb(92, 101, 107) none repeat scroll 0% 0%;
}
.fapzTF {
    display: flex;
    flex-direction: row;
}
.smLZv {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
    transform: translateY(-50%);
    color: rgb(233, 233, 233);
    font-size: 11px;
}
.dkseXk {
    display: flex;
    flex: 1 1 0%;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    padding-right: 10px;
    border: medium none;
    outline: currentcolor none medium;
    font-weight: bold;
    text-align: right;
    background: transparent none repeat scroll 0% 0%;
    font-family: "atlas-typewriter", monospace, "btcglyph";
    font-size: 13px;
    color: rgb(255, 255, 255);
    caret-color: rgba(255, 255, 255, 0.4);
}
.fVqAZl {
    width: 55px;
    font-weight: bold;
    font-size: 11px;
    color: rgb(233, 233, 233);
    border-left: 1px solid rgb(20, 24, 28);
}
.jnkYAA {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    flex-direction: row;
}
cBptqf > div {
    margin-bottom: 20px;
}
.hQhBLc {
    flex: 1 1 0%;
    border-top: 2px solid rgb(92, 101, 107);
}
.cBptqf > div {
    margin-bottom: 20px;
}
.cbNbaj {
    display: flex;
    flex-direction: column;
}
.hsSNKo:first-child {
    margin-top: 0px;
}
.iCiZvJ {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    flex-direction: row;
}
.iZQVXZ {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas", "opensans", sans-serif, "btcglyph";
    font-size: 10px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
.gnfXdV {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas-typewriter", monospace, "btcglyph";
    font-size: 10px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
.fhUrxz {
    white-space: nowrap;
}
.gnfXdV {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas-typewriter", monospace, "btcglyph";
    font-size: 10px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
.hsSNKo {
    margin-top: 3px;
}
.iZQVXZ {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas", "opensans", sans-serif, "btcglyph";
    font-size: 10px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
.gnfXdV {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas-typewriter", monospace, "btcglyph";
    font-size: 10px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
.fhUrxz {
    white-space: nowrap;
}
.gnfXdV {
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: "atlas-typewriter", monospace, "btcglyph";
    font-size: 10px;
    text-align: left;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}
.cBptqf > div {
    margin-bottom: 20px;
}
.hfLvHd {
    display: flex;
    flex: 1 1 auto;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border: medium none;
    border-radius: 1px;
    outline: currentcolor none medium;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    height: 40px;
    font-family: "atlas", "opensans", sans-serif, "btcglyph";
    font-size: 10px;
    line-height: 40px;
    color: rgb(255, 255, 255);

}
.hVfXXr:not(:last-child) {
    padding-right: 6px;
}
.hVfXXr {
    flex: 1 0 auto;
    padding-bottom: 7px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid rgba(233, 233, 233, 0.4);
    font-size: 10px;
    color: rgba(233, 233, 233, 0.4);
}
.sc-hAXbOi {
  cursor: pointer;
  color: #FFF;
}

input[type="number"] {
    -moz-appearance: textfield;
}
#order-form {
  width: 100%
}
.forma {
  color: #fff;
}
.nav-topbar .left {
  margin-left: 0;
}
.current-currency span img {
  margin-top: -7px;
}
.current-currency {
    padding: 0 28px;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;    
}
.navbar-default {
/*  border-bottom: none;*/
}

/* arrow up in select */
span#ddd::after {
    content: '\25BE' !important;
}
/* css new */
.zx {
    color: #fff !important;
}

/* order form */
.order-type:hover, .order-type:focus {
  color: #fff;
}

/* fix bugs */
































