.header_logo_link, .header_logo_link:hover, .header_logo_link:focus {
  display: block;
  text-align: center;
  text-decoration: none;

  .header_logo_link_text{
    color: #fff;
    font-size: 20px;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 1045;
}

.navbar-notifications-count {
  top: 13px !important;
  right: 6px !important;
}

#maincrypt {
  margin-top: 18px;
}