<script type="text/html" id="template-order-row">
    <tr class="row-item <% if(!order.viewed_by_admin) { %> item-unviewed <% } %>">
        <td class="text-center">
            <div class="check-input row-input">
                <input
                        type="checkbox"
                        class="checkbox-custom"
                        value="<%= order.id %>"
                >
                <span class="checkbox-custom-label text"></span>
            </div>
        </td>
        <td><%= order.id %></td>
        <td>
            <a href="javascript:void(0)"><%= order.user.name %></a>
        </td>
        <td><%= order.converted_crypto_amount %> <%= order.crypto_currency %></td>
        <td><%= order.fiat_amount %> USD</td>
        <td>
            <% if(order.status == 'waiting') { %>
            <span class="label label-info">Awaiting</span>
            <% } else if(order.status == 'processing') { %>
            <span class="label label-success">Processing</span>
            <% } else if(order.status == 'confirmed') { %>
            <span class="label label-success">Confirmed</span>
            <% } else if(order.status == 'canceled') { %>
            <span class="label label-danger">Canceled</span>
            <% } %>
        </td>
        <td>
            <a href="#"
               data-title="<%= order.order_type %> details"
               data-id="<%= order.id %>"
               data-url="<%= order.details_modal_url %>"
               data-status="<%= order.status %>"
               data-email="<%= order.user.email %>"
               data-amount="<%= order.fiat_amount %>"
               data-type="<%= order.order_type %>"
               class="btn btn-default btn-small js-admin-users-trades-openDetailsModal">
                <i class="fas fa-search"></i> Explore
            </a>
        </td>
    </tr>
</script>