<script type="text/html" id="template-withdraw-row">
    <div class="timeline-item" id="withdraw-<%= withdraw.id %>">
        <div class="timeline-badge">
            <% if(withdraw.status === 'waiting') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-arrow-circle-up fa-3x"></i>
                </div>
            <% } else if(withdraw.status === 'confirmed') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-success">
                    <i class="fas fa-arrow-circle-down fa-3x"></i>
                </div>
            <% } else if(withdraw.status === 'canceled') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-ban fa-3x"></i>
                </div>
            <% } %>
        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow"></div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <span class="timeline-body-title font-blue-madison">
                        Amount: <b><%= withdraw.amount %> <%= withdraw.user_fiat_currency %></b>
                    </span>
                </div>
            </div>
            <div class="timeline-body-content">
                    <span class="font-grey-cascade">
                        Withdraw id:
                        <b>
                            <a href="#" target="_blank">
                                <%= withdraw.id %>
                            </a>
                        </b>
                        <br/>
                            Status: <b><% if(withdraw.status == 'waiting') { %>
                                            In Process
                                       <% } else if(withdraw.status == 'confirmed') { %>
                                            Approved
                                       <% } else if(withdraw.status == 'canceled') { %>
                                            Canceled
                                       <% } %>
                                    </b>
                        <br/>
                            Time: <b><%= withdraw.time %></b>
                        <% if (withdraw.attachment_path) { %>
                            <br/>
                                Prove image: <a href="<%= withdraw.attachment_path %>" target="_blank"><small>Click to preview full size.</small></a>
                        <% } %>
                    </span>
            </div>
        </div>
    </div>
</script>