<script type="text/html" id="template-transfer-row">
    <div class="timeline-item" id="transfer-<%= item.id %>">
        <div class="timeline-badge">
            <% if(item.status === 0) { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-arrow-circle-up fa-3x"></i>
                </div>
            <% } else if(item.status === 1) { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-success">
                    <i class="fas fa-arrow-circle-down fa-3x"></i>
                </div>
            <% } else if(item.status === 2) { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-ban fa-3x"></i>
                </div>
            <% } %>
        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow"></div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <span class="timeline-body-title font-blue-madison">
                        Amount: <b><%= item.crypto_amount %> <%= item.crypto_currency %></b>
                    </span>
                </div>
            </div>
            <div class="timeline-body-content">
                    <span class="font-grey-cascade">
                        Transfer id:
                        <b>
                            <a href="<%= item.details_page_url %>" target="_blank">
                                <%= item.id %>
                            </a>
                        </b>
                        <br/>
                            Status: <b><% if(item.status == 0) { %>
                                            In Process
                                       <% } else if(item.status == 2) { %>
                                            Approved
                                       <% } else if(item.status == 1) { %>
                                            Canceled
                                       <% } %>
                                    </b>
                        <br/>
                            Time: <b><%= item.time %></b>

                        <% if(item.from_address) { %>
                            <br/>
                                Recipient Address: <b><%= item.from_address %></b>
                        <% } %>

                        <br/>
                            Recipient Address: <b><%= item.recipient_address %></b>
                    </span>
            </div>
        </div>
    </div>
</script>