<script type="text/html" id="template-deposit-row">
    <div class="timeline-item" id="deposit-<%= deposit.id %>">
        <div class="timeline-badge">
            <% if(deposit.status === 'waiting') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-arrow-circle-up fa-3x"></i>
                </div>
            <% } else if(deposit.status === 'confirmed') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-success">
                    <i class="fas fa-arrow-circle-down fa-3x"></i>
                </div>
            <% } else if(deposit.status === 'canceled') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-ban fa-3x"></i>
                </div>
            <% } %>
        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow"></div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <a href="#" class="timeline-body-title font-blue-madison">
                        Amount: <b><%= deposit.amount %> <%= user.fiat_currency %></b>
                    </a>
                </div>
            </div>
            <div class="timeline-body-content">
                    <span class="font-grey-cascade">
                        Deposit id:
                        <b>
                            <a href="#" target="_blank">
                                <%= deposit.id %>
                            </a>
                        </b>
                        <br/>
                            Status: <b><% if(deposit.status == 'waiting') { %>
                                            In Process
                                       <% } else if(deposit.status == 'confirmed') { %>
                                            Approved
                                       <% } else if(deposit.status == 'canceled') { %>
                                            Canceled
                                       <% } %>
                                    </b>
                        <br/>
                            Time: <b><%= deposit.time %></b>
                        <br/>
                            Prove image: <a href="<%= deposit.attachment_path %>" target="_blank"><small>Click to preview full size.</small></a>
                    </span>
            </div>
        </div>
    </div>
</script>