<script type="text/html" id="template-order-row">
    <div class="timeline-item" id="<%= order.order_type %>-<%= order.id %>">
        <div class="timeline-badge">
            <% if(order.status === 'waiting') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-arrow-circle-up fa-3x"></i>
                </div>
            <% } else if(order.status === 'processing') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-info">
                    <i class="fas fa-arrow-circle-down fa-3x"></i>
                </div>
            <% } else if(order.status === 'confirmed') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-success">
                    <i class="fas fa-arrow-circle-down fa-3x"></i>
                </div>
            <% } else if(order.status === 'canceled') { %>
                <div style="margin-left:20px; margin-top: 35px; font-size: 16px;" class="text text-danger">
                    <i class="fas fa-ban fa-3x"></i>
                </div>
            <% } %>
        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow"></div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <a href="#" class="timeline-body-title font-blue-madison">
                        Amount: <b><%= order.converted_crypto_amount %> <%= order.crypto_currency %> / <%= order.fiat_amount %> USD</b>
                    </a>
                </div>
            </div>
            <div class="timeline-body-content">
                    <span class="font-grey-cascade">
                        Order id:
                            <b>
                                <a href="<%= order.details_page_url %>">
                                    <%= order.id %>
                                </a>
                            </b>
                        <% if(order.txid) { %>
                            <br/>
                            Transaction id:
                            <b>
                                <a href="https://chain.so/tx/BTC/<%= order.txid %>" target="_blank">
                                    <%= order.txid %>
                                </a>
                            </b>
                        <% } %>
                        <br/>
                            Status: <b><% if(order.status == 'waiting') { %>
                                            In Process
                                       <% } else if(order.status == 'processing') { %>
                                            Approved and waiting for miners confirmations
                                       <% } else if(order.status == 'confirmed') { %>
                                            Approved
                                       <% } else if(order.status == 'canceled') { %>
                                            Canceled
                                       <% } %>
                                    </b>
                        <br/>
                            Time: <b><%= order.created_at %></b>
                    </span>
            </div>
        </div>
    </div>
</script>