<script type="text/html" id="template-ticket-row">
    <tr class="row-item <% if(!item.viewed_by_admin) { %> item-unviewed <% } %>">
        <td class="text-center">
            <div class="check-input row-input">
                <input
                    type="checkbox"
                    class="checkbox-custom"
                    value="<%= item.id %>"
                >
                <span class="checkbox-custom-label text"></span>
            </div>
        </td>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td><% if(item.user) { %> <%= item.user.name %> <% } else { %> <%= item.email_address %> <% } %></td>
        <td>
            <%= item.created_at %>
        </td>
        <td>
            <%= item.updated_at %>
        </td>
        <td width="160px" style="text-align: center;">
            <button
                    class="btn btn-sm btn-primary js-admin-tickets-editTicketModal"
                    data-url="<%= item.edit_url %>"
                    data-title="Edit Ticket"
            >
                <i class="fas fa-edit"></i>
            </button>
            <a href="<%= item.chat_route %>" class="btn btn-sm btn-info js-admin-tickets-chatTicket"
            >
                <i class="far fa-comments"></i>
            </a>
            <button type="button" class="btn btn-sm btn-danger delete-item"
                    data-url="<%= item.delete_url %>"
            >
                <i class="fa fa-eraser"></i>
            </button>
        </td>
    </tr>
</script>