<script type="text/html" id="template-transfer-row">
    <tr class="row-item <% if(!item.viewed_by_admin) { %> item-unviewed <% } %>">
        <td class="text-center">
            <div class="check-input row-input">
                <input
                        type="checkbox"
                        class="checkbox-custom"
                        value="<%= item.id %>"
                >
                <span class="checkbox-custom-label text"></span>
            </div>
        </td>
        <td><%= item.id %></td>
        <td><%= item.recipient_address %></td>
        <td><%= item.crypto_amount %><%= item.crypto_currency %></td>
        <td>
            <% if(item.status == '0') { %>
            <span class="label label-info">Awaiting</span>
            <% } else if(item.status == '1') { %>
            <span class="label label-success">Processing</span>
            <% } else if(item.status == '2') { %>
            <span class="label label-danger">Canceled</span>
            <% } %>
        </td>
        <td>
            <a href="#"
               data-title="Transfer detail"
               data-id="<%= item.id %>"
               data-status="<%= item.status %>"
               data-address="<%= item.recipient_address %>"
               data-type="transfer"
               data-amount="<%= item.crypto_amount %>"
               class="btn btn-default btn-small js-admin-transfer-openDetailModal">
                <i class="fas fa-search"></i> Explore
            </a>
        </td>
    </tr>
</script>