<script type="text/html" id="template-deposit-row">
    <tr class="row-item<% if(!deposit.viewed_by_admin) { %> item-unviewed <% } %>">
        <td class="text-center">
            <div class="check-input row-input">
                <input
                    type="checkbox"
                    class="checkbox-custom"
                    value="<%= deposit.id %>"
                >
                <span class="checkbox-custom-label text"></span>
            </div>
        </td>
        <td><%= deposit.id %></td>
        <td><% if(deposit.user) { %> <%= deposit.user.email %> <% } %></td>
        <td><% if(deposit.gateway) { %> <%= deposit.gateway_name %> <% } %></td>
        <td>
            <%= deposit.current_amount %> <%= deposit.gateway.currency %>
        </td>
        <td>
            <%= deposit.amount %> USD
        </td>
        <td>
            <% if(deposit.status == 'waiting') { %>
                <span class="label label-info">Awaiting</span>
            <% } else if(deposit.status == 'confirmed') { %>
                <span class="label label-success">Confirmed</span>
            <% } else if(deposit.status == 'canceled') { %>
                <span class="label label-danger">Canceled</span>
            <% } %>
        </td>
        <td width="120px">
            <a href="#"
               data-title="Deposit details"
               data-id="<%= deposit.id %>"
               data-url="<%= deposit.details_modal_url %>"
               data-status="<%= deposit.status %>"
               data-email="<%= deposit.user.email %>"
               data-amount="<%= deposit.amount %>"
               data-type="deposit"
               class="btn btn-default btn-small js-admin-users-money-openDetailModal">
                <i class="fas fa-search"></i> Explore
            </a>
        </td>
    </tr>
</script>

<script type="text/html" id="template-withdraw-row">
    <tr class="row-item <% if(!withdraw.viewed_by_admin) { %> item-unviewed <% } %>">
        <td class="text-center">
            <div class="check-input row-input">
                <input
                        type="checkbox"
                        class="checkbox-custom"
                        value="<%= withdraw.id %>"
                >
                <span class="checkbox-custom-label text"></span>
            </div>
        </td>
        <td><%= withdraw.id %></td>
        <td><% if(withdraw.user) { %> <%= withdraw.user.email %> <% } %></td>
        <td><%= withdraw.amount %> USD</td>
        <td><%= withdraw.user_amount %> <%= withdraw.user_fiat_currency %></td>
        <td>
            <% if(withdraw.status == 'waiting') { %>
            <span class="label label-info">Awaiting</span>
            <% } else if(withdraw.status == 'confirmed') { %>
            <span class="label label-success">Confirmed</span>
            <% } else if(withdraw.status == 'canceled') { %>
            <span class="label label-danger">Canceled</span>
            <% } %>
        </td>
        <td width="120px">
            <a href="#"
               data-title="Withdraw details"
               data-id="<%= withdraw.id %>"
               data-url="<%= withdraw.details_modal_url %>"
               data-proof-image-upload-url="<%= withdraw.proof_image_modal_url %>"
               data-status="<%= withdraw.status %>"
               data-email="<%= withdraw.user.email %>"
               data-amount="<%= withdraw.amount %>"
               data-type="withdraw"
               class="btn btn-default btn-small js-admin-users-money-openDetailModal">
                <i class="fas fa-search"></i> Explore
            </a>
        </td>
    </tr>
</script>